<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
            <span *ngIf="!recipeForm.get('name').valid && recipeForm.get('name').touched" class="help-block">הכנס שם
              הוצאה חוקית</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="category">קטגוריה</label>
            <br>
            <select class="form-control" id="category" formControlName="category" name="category">
              <option selected>תבחר קטגוריה</option>
              <option value="בילוי ומסעדות">בילוי ומסעדות</option>
              <option value="מזון ומשקאות">מזון ומשקאות</option>
              <option value="בריאות">בריאות</option>
              <option value="ביגוד והנעלה">ביגוד והנעלה</option>
              <option value="מוצרי חשמל ותקשורת">מוצרי חשמל ותקשורת</option>
              <option value="רכב ותחבורה">רכב ותחבורה</option>
              <option value="תרבות ופנאי">תרבות ופנאי</option>
              <option value="מיסים ותשלומים">מיסים ותשלומים</option>
              <option value="הלוואות ומשכנתא">הלוואות ומשכנתא</option>
              <option value="נופש">נופש</option>
              <option value="שונות">שונות</option>
              <option value="שיקים">שיקים</option>
              <option value="מזומן">מזומן</option>
              <option value="מתנות ומזכרות">מתנות ומזכרות</option>
              <option value="יופי ואיבזרי אופנה">יופי ואביזרי אופנה</option>
              <option value="ביטוח">ביטוח</option>
              <option value="בית וגן">בית וגן</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="money">סכום</label>
            <input type="number" id="money" formControlName="money" class="form-control">
            <div class="text-danger" *ngIf="!recipeForm.get('money').valid && recipeForm.get('money').touched"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="date">תאריך ההוצאה</label>
            <input type="text" id="date" formControlName="date"  bsDatepicker class="form-control" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row" *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index ;"
            [formGroupName]="i" style="margin-top: 10px;">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" id="imagePath" formControlName="imagePath" class="form-control" #imagePath>
            <!-- <div class="text-danger" *ngIf="!recipeForm.get('imagePath').valid && recipeForm.get('imagePath').touched">
              <div *ngIf="recipeForm.get('imagePath').errors['compare']">not match</div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
    </form>
  </div>
</div>