<div class="container-fluid bg-1 text-center">
    <h3>ניהול הוצאות והכנסות</h3>
    <img src="http://www.cpaplus.co.il/uploads/_thumbs/files/Shopping.jpg" alt="Bird">
  </div>
  <div class="container-fluid bg-2 text-center">
    <h3>על האתר</h3>
    <p>לכתוב כמה משפטים</p>
  </div>  