<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        ניהול קטגוריה <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">רשימת כללית</a></li>
        <li><a style="cursor: pointer;" (click)="onEditRecipe()">עריכת קטגוריה</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">מחיקת קטגוריה</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe?.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient?.name }} - {{ ingredient?.amount }} 
      </li>
    </ul>
  </div>
</div>
