<div class="row">
<carousel (activeSlideChange)="log($event)" [interval]="false"  [(activeSlide)]="activeSlideIndex">
  <slide *ngFor="let month of months; let index=index">
    <button type="button" class="btn btn-info" style="display: block; width: 100%; "><h4><strong>{{month}}</strong></h4></button>
  </slide>
</carousel>
<pre class="card card-block card-header">{{slideChangeMessage}}</pre>
</div>
<br>
<div class="row">
  <div class="col-sm-4" style="background-color:yellow;">
    <p>סך הוצאות</p>
  </div>
  <div class="col-sm-4" style="background-color:pink;">
    <p>סך הכנסות</p>
  </div>  
  <div class="col-sm-4" style="background-color:greenyellow;">
    <p>הפרש</p>
  </div>
</div>

<br>
<button type="button" class="btn btn-info" (click)="Check()">Test</button>
<div class="row">
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
</div>