<div class="row">
  <div class="col-xs-12">
    <div class="btn-toolbar">
      <button class="btn btn-success" (click)="onNewRecipe('הוצאה')">הוצאה חדשה</button>
      <button class="btn btn-success" (click)="onNewRecipe('הכנסה')">הכנסה חדשה</button>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-xs-12">
    הוצאה
    <app-recipe-item *ngFor="let recipeEl of recipes; let i = index " [recipe]="recipeEl" [index]="i"
      [type]="recipeEl.type">
    </app-recipe-item>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    הכנסה
    <app-recipe-item *ngFor="let recipeEl2 of income; let i2 = index " [recipe]="recipeEl2" [index]="i2"
      [type]="recipeEl2.type">
    </app-recipe-item>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    חודשית הוצאה
    <app-recipe-item *ngFor="let recipeEl3 of recipes2; let i3 = index " [recipe]="recipeEl3" [index]="i3"
      [type]="recipeEl3.type">
    </app-recipe-item>
    {{test}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    חודשית הכנסה
    <app-recipe-item *ngFor="let recipeEl4 of income2; let i4 = index " [recipe]="recipeEl4" [index]="i4"
      [type]="recipeEl4.type">
    </app-recipe-item>
  </div>
</div>